.container {
    max-width: 700px;
    margin: 100px auto auto;
}

.cabecalho {
    text-align: center;
}

.tema {
    border: 1px solid lightgrey;
    margin: 10px;
    background: whitesmoke;
    padding: 5px 15px;
    border-radius: 10px;
}

.titulo {
    font-size: 1.5em;
    font-weight: bold;
    padding: 1ch 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

details > ol {
    background: grey;
}

.bloco {
    display: none;
    margin-left: 40px;
    text-align: left;
}

table {
    display: flex;
    justify-content: center;
}


select {
    width: 158px;
}

select option {
    white-space: normal;
}

.pergunta {
    width: 30ch;
    padding: 12px 10px 20px;
    text-align: right;
}

.pergunta * {
    text-align: center;
}

.resposta {
    vertical-align: top;
}

input, select {
    max-width: 300px;
    padding: 5px 10px;
    margin: 5px 0;
}

.butao_adiciona, .butao_remove {
    padding: 5px 10px;
    margin-left: 5px;
    background: orange;
    border-radius: 5px;
    border: 0;
    transition: background-color 0.3s ease;
    width: 25px;
}

input[type="submit"], input[type="button"] {

    display: block;
    margin-left: auto;
    background: orange;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 0;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #ff7f00;
}


h3 button {
    background-color: orange;
    color: black;
    font-weight: bold;
}

.orange-background:hover {

    @media (max-width: 800px) {
        .pergunta {
            width: 20ch;
        }

        .bloco {
            margin-left: 0;
            margin-bottom: 30px;
        }

    }


}

.ar-condicionado-com-potencia-media-de {
    display: none;
}

#boxResposta, #boxRespostaNova {
    display: flex;
    align-items: center;
}

#boxResposta > div, #boxRespostaNova > div {
    margin-left: 10px;
}

.button-group {
    display: flex;
    justify-content: flex-end;
}

.button-group input {
    margin-left: 5px;
}

div#resposta_dada {
    display: ruby-text;
}

.titulo_submetido{
    margin-top: 40%;
    border: 1px solid lightgrey;
    background: whitesmoke;
    padding: 25px 15px;
    border-radius: 10px;
}

.titulo_submetido span {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}

.limparpopup {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.texto_submeter {
    margin: auto;
    border: 2px solid lightgrey;
    background: whitesmoke;
    padding: 30px;
    border-radius: 10px;
    min-width: 16vw;
    min-height: 22vh;
}

.texto_submeter h1, .texto_submeter p {
    display: flex;
    justify-content: center;
}

.butoes_popup{
    display: flex;
}

.butoes_popup button{
    padding: 12px 30px;
    border-radius: 5px;
    border: 0;
    margin: auto;
    cursor: pointer;
    background: orange;
}