:root{
    --light-blue: #d8ebf0;
    --marine-blue: #79e2e2;
     --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /*var(--light-blue)*/
    /*var(--marine-blue)*/
}

body{
    font-family: var(--bs-font-sans-serif);
}

.box {
    display: grid;
    place-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

.instalacoes {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}

.instalcao_entry {
    display: flex;
    color: inherit;
    text-decoration: none;
    border: 1px solid lightgrey;
    background: white;
    padding: 5px;
    border-radius: 10px;
    width: 500px;
    margin: 30px auto;
    min-height: 240px;
}

.instalcao_entry div.nova_instalacao {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
}


.buttonbox-right {
    display: flex;
    flex-direction: column;
    width: 15%;
    border-left: solid 1px;
}

.buttonbox-right a {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.5);
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}

.buttonbox-right a i.form {
    font-weight: bolder;
    font-size: 1.5em;
}

.buttonbox-left {
    display: flex;
    flex-direction: column;
    width: 15%;
    border-right: solid 1px;
}

.buttonbox-left a {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.5);
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    position: relative;
}

.formbutton {
    margin: auto;
}

.submitbutton {
    margin: auto;
}

.dashboardbutton {
    margin: auto;
}

.editbutton {
    margin: auto;
}

.deletebutton {
    margin: auto;
}

.instalacaoformpopup {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.instalacaoformpopup h2{
    display: flex;
    justify-content: center;
}

.instalacaoformpopup p{
    display: grid;
    justify-content: center;
}


.eliminarinstalacaopopup {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.texto_eliminar {
    margin: auto;
    border: 2px solid lightgrey;
    background: whitesmoke;
    padding: 30px;
    border-radius: 10px;
    min-width: 20vw;
    min-height: 25vh;
}

.texto_eliminar h1, .texto_eliminar p, .texto_eliminar input {
    display: flex;
    justify-content: center;
}

.butoes_popup{
    display: flex;
}

input[type="text"], input[type="number"], input[type="email"] {
    margin-top: 10px;
    border: 2px solid rgba(0, 0, 0, 0.32);
    cursor: text;
}

.instalacaoform {
    margin: auto;
    background: whitesmoke;
    padding: 30px;
    border-radius: 10px;
    min-width: 18vw;
    min-height: 40vh;
}

input{
    padding: 12px 30px;
    border-radius: 5px;
    border: 0;
    transition: background-color 0.3s ease;
    margin: auto;
    cursor: pointer;
}

button{
    padding: 12px 30px;
    border-radius: 5px;
    border: 0;
    transition: background-color 0.3s ease;
    margin: auto;
    cursor: pointer;
}

input[type=submit], button {
    background: var(--marine-blue);
    cursor: pointer;
}

label {
    font-size: 18px;
}

.buttonbox-left span {
    font-weight: bold;
    font-size: 14px;
    visibility: hidden;
    width: 75px;
    background: #ccc;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 50%;
    margin-left: -40px;
}

.buttonbox-left a:hover span {
    visibility: visible;
}

.buttonbox-left a:hover::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #ccc transparent transparent transparent;
}

.buttonbox-right a span {
    font-weight: bold;
    font-size: 14px;
    visibility: hidden;
    width: 75px;
    background: #ccc;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    margin-left: -24px;
    margin-top: 80px;
}

.buttonbox-right a:hover span {
    visibility: visible;
}

.buttonbox-right a:hover::after {
    content: "";
    position: absolute;
    margin-left: 6px;
    margin-top: 54px;
    border-width: 5px;
    border-style: solid;
    border-color: #ccc transparent transparent transparent;
}

.error{
    margin-bottom: 0px;
}