body {
    background: orange;
}

main {
    display: flex;
    flex-direction: row;
    grid-column-gap: 20px
}

nav {
    background: whitesmoke;
    padding: 0 5%;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    column-gap: 20%;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;

}

.elem1 {
    display: flex;
}

.elem1 h2{
    margin-right: 35px;
}

.elem1 h2 a i{
    color: black;
    border-radius: 50%;
    padding: 10px;
    background: lightgray;
}

.elem2 {
    justify-self: center;
    font-size: 20px;
}

.elem3 {
    justify-self: right;
}

.elem3 h1 i{
    font-size: 25px;
    color: black;
    border-radius: 50%;
    padding: 10px;
    background: lightgray;
}

.profile-navigator {
    position: absolute;
    top: 100%;
    right: 4%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.profile-navigator.open-menu{
    max-height: 400px;
}

.profile {
    background: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info i{
    font-size: 25px;
    color: black;
    border-radius: 50%;
    padding: 10px;
    background: lightgray;
    margin-right: 10px;
}

.user-info p {
    font-weight: 100;
}

.user-info img {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;

}

.sub-menu-link p{
    width: 100%;
}


.sub-menu-link i{
    font-size: 20px;
    color: black;
    border-radius: 50%;
    padding: 10px;
    background: lightgray;
    margin-right: 10px;
}

.sub-menu-link span{
    font-weight: bold;
    font-size: 22px;
}

.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
}


/*AQUI FICA O CSS DO FORMULÃRIO*/


.container {
    max-width: 700px;
    margin: 100px auto auto;
}

.cabecalho {
    text-align: center;
}

.tema {
    border: 1px solid lightgrey;
    margin: 10px;
    background: whitesmoke;
    padding: 5px 15px;
    border-radius: 10px;
}

.titulo {
    font-size: 1.5em;
    font-weight: bold;
    padding: 1ch 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

details > ol {
    background: grey;
}

.bloco {
    display: none;
    margin-left: 40px;
    text-align: left;
}

table {
    display: flex;
    justify-content: center;
}


select {
    width: 158px;
}

select option {
    white-space: normal;
}

.pergunta {
    width: 30ch;
    padding: 12px 10px 20px;
    text-align: right;
}

.pergunta * {
    text-align: center;
}

.resposta {
    vertical-align: top;
}

input, select {
    max-width: 300px;
    padding: 5px 10px;
    margin: 5px 0;
}

.butao_adiciona, .butao_remove {
    padding: 5px 10px;
    margin-left: 5px;
    background: orange;
    border-radius: 5px;
    border: 0;
    transition: background-color 0.3s ease;
}

input[type="submit"] {

    display: block;
    margin-left: auto;
    background: orange;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 0;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #ff7f00;
}


h3 button {
    background-color: orange;
    color: black;
    font-weight: bold;
}

.orange-background:hover {

    @media (max-width: 800px) {
        .pergunta {
            width: 20ch;
        }

        .bloco {
            margin-left: 0;
            margin-bottom: 30px;
        }

    }


}

.ar-condicionado-com-potencia-media-de {
    display: none;
}

#boxResposta, #boxRespostaNova {
    display: flex;
    align-items: center;
}

#boxResposta > div, #boxRespostaNova > div {
    margin-left: 10px;
}


/**/




