:root{
    --light-blue: #d8ebf0;
    --marine-blue: #79e2e2;
    /*var(--light-blue)*/
    /*var(--marine-blue)*/
}

.loginform {
    border: 1px solid lightgrey;
    background: whitesmoke;
    padding: 5px 15px;
    border-radius: 10px;
    width: 500px;
    height: 670px;
    margin: 30px auto;
}

form p input{
    display: grid;
    justify-items: center;
}

p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.info{
    display: flex;
    justify-content: center;
    white-space: break-spaces;
}
form{
    display: grid;
    justify-content: center;
}

body {
    background-color: var(--light-blue);
}

.botao {
    display: grid;
    place-items: center;
}

input {
    padding: 12px 30px;
    border-radius: 5px;
    border: 0;
    transition: background-color 0.3s ease;
    margin: auto;
}

input[type=submit] {
    cursor: pointer;
    background: var(--marine-blue);
}

label {
    margin-left: 35px;
    font-size: 18px;
}

.imagem-logotipo {
    width: 100%;
    text-align: center;
    margin-top: 50px;

}

.imagem-logotipo img {
    border: 1px solid lightgrey;
    background: whitesmoke;
    padding: 5px 15px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    top: 10%;

}

input[type="text"], input[type="email"], input[type="password"] {
    border: 2px solid rgba(0, 0, 0, 0.32);
    padding: 12px 30px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}


