<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href='{% static "styles/../static/css/dashboard.css" %}'>

    {% load static %}
    <script src="{% static 'javascript/../static/js/graficos.js' %}"></script>
</head>
<body>
<!--<div id="graphbar">
    <div class="entry">AGUA</div>
    <div class="entry">ELETRICIDADE</div>
    <div class="entry">RESIDUOS</div>
</div>-->


<div class="display">

    <div class="grid">
        <div class="display-view">
            <h1>Distribuição de Consumo Anual</h1>
            <canvas id="consumodeenergia" class="graph-view"></canvas>
        </div>
        <div class="display-view">
            <h1>Custo Energético</h1>
            <canvas id="custodeenergia" class="graph-view"></canvas>
        </div>
    </div>
</div>

<div class="display">
    <div class="grid">
        <div class="display-view">
            <h1>Custo por kWh</h1>
            <canvas id="custoconsumodeenergia" class="graph-view"></canvas>
        </div>
        <div class="display-view">
            <h1>Fáturas Energéticas</h1>
            <table>
                <tr>
                    <td>Energia</td>
                    <td>Fatura Minima kWh</td>
                    <td>Fatura Minima €</td>
                    <td>Fatura Maxima kWh</td>
                    <td>Fatura Maxima €</td>
                </tr>
                {% for a,b,c,d,e in faturas %}
                    <tr>
                        <td>{{ a }}</td>
                        <td>{{ b }}</td>
                        <td>{{ c }}</td>
                        <td>{{ d }}</td>
                        <td>{{ e }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>


<!--<div id="ultimo-mes">
    <div class="consumo-ultimo-mes-text">
        <h2>Consumo mensal (L)</h2>
        <h1>24 200 L</h1> <p>(Ultimo Mês) </p>
        <h2> - 11,35 %</h2>
    </div>

</div>-->

<script>


    let energiaconsumo = document.getElementById("consumodeenergia").getContext("2d");

    makePieChart(energiaconsumo, {{ consumos_labels|safe }}, {{ consumos }},
        ["red", "orange", "green", "blue"])

    let energiacusto = document.getElementById("custodeenergia").getContext("2d");

    makeBarChart(energiacusto, {{ consumos_labels|safe }}, {{ custos }},
        ["yellow", "blue", "orange", "red", "green"])

    let energiacustoconsumo = document.getElementById("custoconsumodeenergia").getContext("2d");

    makeBarChart(energiacustoconsumo, {{ consumos_labels|safe }}, {{ custosconsumo }},
        ["yellow", "blue", "orange", "red", "green"])
</script>
</body>
</html>