<!DOCTYPE html>
<html lang="en">

{% extends 'navigator.html' %}

{% load static %}

{% block entidade %}
    {{ entidadeLogada }}
{% endblock %}

{% block titulo %}
    <h1>Dashboard</h1>
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-autocolors"></script>

    <script src="{% static 'js/graficos.js' %}"></script>

    <div class="display">
        <div class="entry-header">
            <h2>Bem Vindo Instalação</h2>
            <div class="long-entry-top">
                <div class="info-column">
                    <h2>Consumo Total de Energia: {{ consumoTotalEnergia }} kWh</h2>
                    <h2>Consumo Total Renovável: {{ consumoTotalRenovavel }} kWh</h2>
                    <h2>Consumo Total Não Renovável: {{ consumoTotalNaoRenovavel }} kWh</h2>
                </div>
                <div class="info-column">
                    <h2>Número de Praticantes: {{ numeroPraticantes }}</h2>
                    <h2>Número de Funcionarios: {{ numeroFuncionarios }}</h2>
                    <h2>Área Total: {{ areaTotal }}</h2>
                </div>
            </div>
        </div>
        <div class="entry-header">
            <h2>Consumo de Energia</h2>
            <div class="long-entry">
                <div class="graf-slot3">
                    <canvas id="graf-energias" class="graph-view"></canvas>
                </div>
                <div class="graf-slot3">
                    <canvas id="graf-energiasren" class="graph-view"></canvas>
                </div>
                <div class="graf-slot3">
                    <canvas id="graf-energiasnren" class="graph-view"></canvas>
                </div>

            </div>
        </div>
        <div class="entry-header">
            <h2>Consumo de Energias Renováveis</h2>
            <div class="long-entry">
                <div class="graf-slot3">
                    <canvas id="graf-renconsumo" class="graph-view"></canvas>
                </div>
                <div class="graf-slot3">
                    <canvas id="graf-rencusto" class="graph-view"></canvas>
                </div>
                <div class="graf-slot3">
                    <canvas id="graf-renconscusto" class="graph-view"></canvas>
                </div>
            </div>
        </div>
        <div class="entry-header">
            <h2>Consumo de Energias Não Renováveis</h2>
            <div class="long-entry">
                <div class="graf-slot3">
                    <canvas id="graf-nrenconsumo" class="graph-view"></canvas>
                </div>
                <div class="graf-slot3">
                    <canvas id="graf-nrencusto" class="graph-view"></canvas>
                </div>
                <div class="graf-slot3">
                    <canvas id="graf-nrenconscusto" class="graph-view"></canvas>
                </div>
            </div>
        </div>
        <div class="two-entries">
            <div class="single-entry">
                <table>
                    <tr>
                        <td>Energia</td>
                        <td>Fatura Mínima kWh</td>
                        <td>Fatura Mínima €</td>
                        <td>Fatura Máxima kWh</td>
                        <td>Fatura Máxima €</td>
                    </tr>
                    {% for a,b,c,d,e in faturasRenovaveis %}
                        <tr>
                            <td>{{ a }}</td>
                            <td>{{ b }}</td>
                            <td>{{ c }}</td>
                            <td>{{ d }}</td>
                            <td>{{ e }}</td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
            <div class="single-entry">
                <table>
                    <tr>
                        <td>Energia</td>
                        <td>Fatura Mínima kWh</td>
                        <td>Fatura Mínima €</td>
                        <td>Fatura Máxima kWh</td>
                        <td>Fatura Máxima €</td>
                    </tr>
                    {% for a,b,c,d,e in faturasNaoRenovaveis %}
                        <tr>
                            <td>{{ a }}</td>
                            <td>{{ b }}</td>
                            <td>{{ c }}</td>
                            <td>{{ d }}</td>
                            <td>{{ e }}</td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
        <div class="entry-header">
            <h2>Usos de Energia</h2>
            <div class="long-entry">
                <div class="graf-slot3">
                    <canvas id="graf-climatizacao" class="graph-view"></canvas>
                </div>
                <div class="graf-slot3">
                    <canvas id="graf-aguas" class="graph-view"></canvas>
                </div>
                <div class="graf-slot3">
                    <h2>Iluminação Interior</h2>
                    <h4>&emsp;Número de Luminárias: {{ numeroLuminariasInterior }}</h4>
                    <h4>&emsp;Potência Média: {{ potenciaLuminariasInterior }} kWh</h4>
                    <h2>Iluminação Exterior</h2>
                    <h4>&emsp;Número de Luminárias: {{ numeroLuminariasExterior }}</h4>
                    <h4>&emsp;Potência Média: {{ potenciaLuminariasExterior }} kWh</h4>
                </div>
            </div>
        </div>
    </div>


    <script>
        //energias
        let grafenergias = document.getElementById("graf-energias").getContext("2d");

        makePieChart(grafenergias, {{ energias|safe }}, {{ energiasConsumos }})

        let grafenergiasren = document.getElementById("graf-energiasren").getContext("2d");

        makePieChart(grafenergiasren, {{ energiasRenovaveis|safe }}, {{ consumoEnergiasRenovaveis }})

        let grafenergiasnren = document.getElementById("graf-energiasnren").getContext("2d");

        makePieChart(grafenergiasnren, {{ energiasNaoRenovaveis|safe }}, {{ consumoEnergiasNaoRenovaveis }})

        let grafrenconsumos = document.getElementById("graf-renconsumo").getContext("2d");

        makeBarChart(grafrenconsumos, {{ energiasRenovaveis|safe }}, {{ consumoEnergiasRenovaveis }})

        let grafrencustos = document.getElementById("graf-rencusto").getContext("2d");

        makeBarChart(grafrencustos, {{ energiasRenovaveis|safe }}, {{ custoEnergiasRenovaveis }})

        let grafrencustosconsumos = document.getElementById("graf-renconscusto").getContext("2d");

        makeBarChart(grafrencustosconsumos, {{ energiasRenovaveis|safe }}, {{ custoConsumoEnergiasRenovaveis }})

        //energias nao renovaveis
        let grafnrenconsumos = document.getElementById("graf-nrenconsumo").getContext("2d");

        makeBarChart(grafnrenconsumos, {{ energiasNaoRenovaveis|safe }}, {{ consumoEnergiasNaoRenovaveis }})

        let grafnrencustos = document.getElementById("graf-nrencusto").getContext("2d");

        makeBarChart(grafnrencustos, {{ energiasNaoRenovaveis|safe }}, {{ custoEnergiasNaoRenovaveis }})

        let grafnrencustosconsumos = document.getElementById("graf-nrenconscusto").getContext("2d");

        makeBarChart(grafnrencustosconsumos, {{ energiasNaoRenovaveis|safe }}, {{ custoConsumoEnergiasNaoRenovaveis }})

        //climatizacao e aguas
        let grafclimatizacao = document.getElementById("graf-climatizacao").getContext("2d");

        makePieChart(grafclimatizacao, {{ climatizacaoSistemas|safe }}, {{ climatizacaoPotencias }})

        let grafaguas = document.getElementById("graf-aguas").getContext("2d");

        makePieChart(grafaguas, {{ aquecimetoAguasSistemas|safe }}, {{ aquecimetoAguasPotencias }})

    </script>

{% endblock %}
</html>