<!DOCTYPE html>
<html lang="en">
{% extends 'navigator.html' %}

{% load static %}

{% block titulo %}
    <h1>Instalações</h1>
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/editinstalacao.css' %}">

    <div class="editarea">
        <form method="post">
            <h1>Editar Instalacao</h1>
            {% csrf_token %}

            {{ instalacaoForm.as_p }}

            <input type="submit" value="Guardar">

        </form>
    </div>
{% endblock %}
</html>