<!DOCTYPE html>
<html lang="pt">

{% load static %}

<head>

    <title>IPDJ - SNID</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/escolhas.css' %}">
    <meta charset="UTF-8">
</head>
<body>
<div class="titulo">
    <h1>IPDJ - Observatório de sustentabilidade</h1>
    <h2>Página inicial</h2>
</div>

<main>
    <div class="box" id="boxForm">
        <H1>Formulário</H1>
        <p>Aqui poderá preencher um formulário com diversas informações relativas á sustentabilidade da sua instalação desportiva.
        </p>
        <a href="form">
            <button>Formulário</button>
        </a>
    </div>
    <div class="box" id="boxResponse">
        <H1>Respostas</H1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta officia ullam asperiores culpa impedit
            aliquam hic natus? Accusantium esse id accusamus ratione! Sequi quos veritatis vel amet, velit illum
            incidunt.</p>
        <a href="responses">
            <button>Respostas</button>
        </a>
    </div>
    <div class="box" id="boxDashboard">
        <H1>Dashboard</H1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, eius hic eum vero eveniet minima a nobis
            pariatur officiis, totam aliquid dicta. Voluptas illum debitis nemo architecto sit nulla voluptate.</p>
        <a href="dashboard">
            <button>Dashboard</button>
        </a>
    </div>
</main>

</body>
</html>