{% extends 'navigator.html' %}

{% block titulo %}
    <h1>Avaliação desportiva</h1>
{% endblock %}

{% block content %}

    <div class="container">

        {% for key, value in respostas.items %}
            <p>{{ key }}: {{ value }}</p>
        {% endfor %}

        {% for tema, subtemas in temas.items %}
            {% with forloop.counter as tema_counter %}
                <div class="tema">
                    <div class="titulo" onclick="toggle(this)">
                        <span>{{ tema_counter }}. {{ tema.nome }} </span>
                        <span style="float:right" id="sinal">+</span>
                    </div>
                    <div class="bloco">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            {% for subtema, perguntas in subtemas.items %}
                                {% with forloop.counter as subtema_counter %}
                                    <div id={{ tema_counter }}:{{ subtema.nome|slugify }} class="perto">
                                        <h3>{{ tema_counter }}.{{ subtema_counter }} {{ subtema.nome }}
                                            {% if subtema.resposta_duplicavel %}
                                                <input type="hidden" value="{{ tema.id }}" name="temaId">
                                                <button type="button" class="butao_adiciona"
                                                        onclick="adicionarValorSubtema()">+
                                                </button>

                                            {% endif %}
                                        </h3>
                                        <table>
                                            {% for pergunta, resposta in perguntas.items %}
                                                <tr id="{{ tema_counter }}.{{ subtema_counter }}:{{ pergunta.texto|slugify }}">
                                                    <td id="pergunta">
                                                        <input type="hidden" name="pergunta" value="{{ pergunta.id }}">
                                                        {{ pergunta.texto }}
                                                    </td>
                                                    <td id="resposta">
                                                        <div id="boxResposta">
                                                            <div>
                                                                {{ resposta.as_p }}
                                                            </div>
                                                            {% if pergunta.unidade %}
                                                                <div class="unidade">
                                                                    {% if "^" in pergunta.unidade.unidade %}
                                                                        {% with pergunta.unidade.unidade|split:"|" as toda %}
                                                                            {% for cada in toda %}
                                                                                {% if "^" in cada %}
                                                                                    {% with cada|split:"^" as parts %}
                                                                                        {{ parts|first }}
                                                                                        <sup>{{ parts|last }}</sup>
                                                                                    {% endwith %}
                                                                                {% else %}
                                                                                    {{ cada }}
                                                                                {% endif %}
                                                                                {% if toda|length > 1 %}
                                                                                    {% if forloop.first %}|{% endif %}
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        {% endwith %}
                                                                    {% else %}
                                                                        {{ pergunta.unidade }}
                                                                    {% endif %}
                                                                </div>
                                                            {% endif %}
                                                            {% if pergunta.resposta_duplicavel %}
                                                                <div>
                                                                    <button type="button" class="butao_adiciona"
                                                                            id="butao_adiciona"
                                                                            onclick="adicionarValorPergunta()">+
                                                                    </button>
                                                                </div>
                                                            {% else %}
                                                                <div style="display: none;"></div>
                                                            {% endif %}
                                                        </div>
                                                        <div id='{{ pergunta.texto|slugify }}'></div>

                                                    </td>

                                                </tr>
                                            {% endfor %}


                                        </table>
                                    </div>

                                {% endwith %}
                            {% endfor %}

                            <input type="submit" value="Gravar" name="submitButton" id="ButaoSubmeter">

                        </form>
                    </div>
                </div>
            {% endwith %}

        {% endfor %}


    </div>

{% endblock %}

