<!DOCTYPE html>
<html lang="pt">
{% load static %}

<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    </style>
    <title>Formulario</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
</head>
<body>
<h1>Formulário</h1>
<form action="." method="post">
    {% csrf_token %}

    {% block questionario %}
    <ol>
        {% for tema in Temas %}

        <h2><li>{{tema.nome}}</h2>

            <ol>

                {% for subtema in tema.subtemas.all %}
                    <h3><li>{{subtema.nome}}</h3>
                    

                        {% for pergunta in subtema.perguntas.all %}

                            <h4>{{pergunta.texto}}</h4>

                            <form action="." method="post">

                            {% if pergunta.tipo == 'NUMERO_INTEIRO' %}

                                {{ formInt.as_p }}

                            {% elif pergunta.tipo == 'TEXTO_LIVRE' %}

                                {{ formTexto.as_p }}

                            {% elif pergunta.tipo == 'ESCOLHA_MULTIPLA' %}

                                {{ formEscolha.as_p }}

                            {% endif %}

                        {% endfor %}

                {% endfor %}

                <br><input type="submit" value="Submit">
            </form>
            </ol>

        {% endfor %}
    </ol>
    

    {% endblock questionario %}

</form>
</body>
</html>