<!DOCTYPE html>
<html lang="pt">

{% load static %}

<head>

    <title>IPDJ - SNID</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <meta charset="UTF-8">
</head>

<body>
<div class="hero">
    <nav>
        <div class="elem1">
            <h3>IPDJ - Observatório de sustentabilidade</h3>
        </div>
        <div class="elem2">
            <h1>Página inicial</h1>
        </div>
        <div class="elem3">
            <img src="{% static 'img/perfil/profile.png' %}" onclick="toggleMenu()">
        </div>


            <div class="profile-navigator" id="profile-nav">
                <div class="profile">
                    <div class="user-info">
                        <img src="{% static 'img/perfil/profile.png' %}">
                        <h4>Nome Entidade</h4>
                    </div>
                    <hr>
                    <a href="" class="sub-menu-link">
                        <img src="{% static 'img/perfil/profile.png' %}">
                        <p>Edite o seu perfil</p>
                        <span>></span>
                    </a>
                    <a href="" class="sub-menu-link">
                        <img src="{% static 'img/perfil/help.png' %}">
                        <p>Ajuda e Suporte</p>
                        <span>></span>
                    </a>
                    <a href="" class="sub-menu-link">
                        <img src="{% static 'img/perfil/logout.png' %}">
                        <p>Logout</p>
                        <span>></span>
                    </a>


                </div>
            </div>

    </nav>

    <div class="imagem-logotipo">
        <img src="{% static 'img/ipdj_image.png' %}" alt="logotipo" class="logoIPDJ">
    </div>

    <main>
        <div class="box" id="boxForm">
            <H1>Avaliação</H1>
            <p>Aqui poderá preencher um formulário com diversas informações relativas á sustentabilidade da sua
                instalação
                desportiva.
            </p>
            <a href="form">
                <button>Avaliação</button>
            </a>
        </div>
        <div class="box" id="boxResponse">
            <H1>Submissão</H1>
            <p>Aqui pode editar e submeter para análise as respostas que deu no formulário. Após submissão, não pode
                voltar
                a preencher o formulário ou editar as suas respostas dadas.</p>
            <a href="submmit">
                <button>Submissão</button>
            </a>
        </div>
        <div class="box" id="boxDashboard">
            <H1>Dashboard</H1>
            <p>Aqui pode analisar as respostas das questões da sua avaliação em gráficos e tabelas.</p>
            <a href="dashboard">
                <button>Dashboard</button>
            </a>
        </div>
    </main>
</div>

<script>

    let subMenu = document.getElementById("profile-nav");

    function toggleMenu(){
        subMenu.classList.toggle("open-menu");
    }

</script>
</body>
</html>