<!DOCTYPE html>
<html lang="pt">

{% load static %}

<head>

    <title>IPDJ - SNID</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script defer src="{% static 'js/index.js' %}"></script>
    <meta charset="UTF-8">
</head>

<body>
<h1 class="cabecalho">Avaliação da Instalação</h1>

<div class="container">

    {% for key, value in respostas.items %}
        <p>{{ key }}: {{ value }}</p>
    {% endfor %}

    {% for tema, subtemas in temas.items %}
        {% with forloop.counter as tema_counter %}
            <div class="tema">
                <div class="titulo" onclick="toggle(this)">
                    <span>{{ tema_counter }}. {{ tema.nome }} </span>
                    <span style="float:right" id="sinal">+</span>
                </div>
                <div class="bloco">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% for subtema, perguntas in subtemas.items %}
                            {% with forloop.counter as subtema_counter %}
                                <div id={{ subtema.nome|slugify }} class="perto">
                                    <h3>{{ tema_counter }}.{{ subtema_counter }} {{ subtema.nome }}
                                        {% if subtema.resposta_duplicavel %}
                                            <input type="hidden" value="{{ tema.id }}" name="temaId">
                                            <button type="button" class="adicionar-formulario"
                                                    data-subtema="{{ subtema.id }}" data-tema="{{ tema.id }}">+
                                            </button>

                                        {% endif %}
                                    </h3>
                                    <table>


                                        {% for pergunta, resposta in perguntas.items %}

                                            <tr id="{{ tema_counter }}.{{ subtema_counter }}:{{ pergunta.texto|slugify }}">
                                                <input type="hidden" name="pergunta" value={{ pergunta.id }}>

                                                <td class="pergunta">{{ pergunta.texto }}</td>

                                                <td class="resposta">{{ resposta.as_p }}</td>

                                                {% if pergunta.unidade != null %}
                                                    <td>{{ pergunta.unidade }}</td>
                                                {% endif %}


                                            </tr>

                                        {% endfor %}


                                    </table>
                                </div>

                            {% endwith %}
                        {% endfor %}

                        <input type="submit" value="Gravar" name="submitButton">

                    </form>
                </div>
            </div>
        {% endwith %}

    {% endfor %}


</div>


</body>

</html>

