<!DOCTYPE html>
{% extends 'navigator.html' %}

{% load static %}

{% block titulo %}
    <h1>Instalações</h1>
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/instalacoes.css' %}">
    <script src="{% static 'js/instalacoes.js' %}"></script>



    <div class="instalacoes">
        {% for instalacao in instalacoes %}
            <div class="instalcao_entry">
                <div class="buttonbox-left">
                    <a href="/editinstalacao?instalacao={{ instalacao.id }}" class="editbutton"><img
                            srcset="https://img.icons8.com/?size=256&amp;id=49&amp;format=png 1x" width="27"
                            height="28">
                    </a>
                    <a href="/deleteinstalacao?instalacao={{ instalacao.id }}" class="deletebutton"><img
                            srcset="https://img.icons8.com/?size=256&amp;id=1942&amp;format=png 1x" width="27"
                            height="28">
                    </a>
                </div>
                <a href="form" class="box">
                    <h1>{{ instalacao.nome }}</h1>
                    <h2>{{ instalacao.entidade }}</h2>
                    <p>{{ instalacao.morada }}</p>
                    <p>{{ instalacao.distrito }}</p>
                </a>
                <div class="buttonbox-right">
                    <a href="/form?instalacao={{ instalacao.id }}" class="formbutton"><img
                            srcset="https://img.icons8.com/?size=256&amp;id=9887&amp;format=png 1x" width="27"
                            height="28">
                    </a>
                    <a href="/submmit?instalacao={{ instalacao.id }}" class="submitbutton"><img
                            srcset="https://img.icons8.com/?size=256&amp;id=9887&amp;format=png 1x" width="27"
                            height="28">
                    </a>
                    <a href="/dashboard?instalacao={{ instalacao.id }}" class="dashboardbutton"><img
                            srcset="https://img.icons8.com/?size=256&amp;id=9887&amp;format=png 1x" width="27"
                            height="28">
                    </a>
                </div>
            </div>
        {% endfor %}
        <div class="instalcao_entry">
            <a onclick="registarPopup();" style="cursor: pointer;" class="box">
                <h1>Nova Instalacao</h1>
                <img
                        srcset="https://img.icons8.com/?size=256&amp;id=7914&amp;format=png 1x" width="27"
                        height="28">
            </a>
        </div>
    </div>




    <div id="popup" class="instalacaoformpopup">

        <form class="instalacaoform" method="post">
            <h2>Nova Instalacao</h2>
            {% csrf_token %}

            {{ instalacaoForm.as_p }}

            <input type="submit" value="Registar">

        </form>
    </div>


{% endblock %}

</html>