<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
<div class="imagem-logotipo">
    <img src="{% static 'img/ipdj_image.png' %}" alt="logotipo" class="logoIPDJ">
</div>
<div class="loginform">
    <form method="post">
        {% csrf_token %}

        {{ authForm.as_p }}

        <div class="botao">
            <a href="/password_reset">
                <p>Esqueceu-se da Password</p>
            </a>
            <input type="submit" value="Entrar">

            <p>Não têm uma conta? <a href="/signup"><span>Registe-se</span></a></p>


        </div>

    </form>
</div>
</body>
</html>