<!DOCTYPE html>
<html lang="pt">

{% load static %}

<head>
    <title>IPDJ - SNID</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/navigator.css' %}">
    <script defer src="{% static 'js/navigator.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
</head>
<body>
<header>

</header>
<nav>
    <div class="elem1">
        <h2><a href="/"><img srcset="https://img.icons8.com/?size=256&amp;id=9887&amp;format=png 1x, https://img.icons8.com/?size=512&amp;id=9887&amp;format=png 2x" width="27" height="28"><span>Instalações</span></a></h2>
        <h2><a onclick="form_link()"><i class="fa-brands fa-wpforms"></i><span>Formulário</span></a></h2>
        <h2><a onclick="submmit_link()"><i class="material-icons">send</i><span>Submissão</span></a></h2>
        <h2><a onclick="dash_link()"><i class="material-icons">dashboard</i><span>Dashboard</span></a></h2>

    </div>
    <div class="elem2">
        {% block titulo %}
        {% endblock %}
    </div>
    <div class="elem3">
        <h1><i class="fa-solid fa-user" onclick="toggleMenu()"></i></h1>
    </div>
    <div class="profile-navigator" id="profile-nav">
        <div class="profile">
            <div class="user-info">
                <i class="fa-solid fa-user"></i>
                <h4>{% block entidade %}{% endblock %}</h4>
            </div>
            <hr>
            <a href="/" class="sub-menu-link">
                <i class="fa-solid fa-user"></i>
                <p>Instalações</p>
                <span>></span>
            </a>
            <a href="/logout" class="sub-menu-link">
                <i class="material-icons">logout</i>
                <p>Logout</p>
                <span>></span>
            </a>


        </div>
    </div>

</nav>

{% block content %}
{% endblock %}

</body>
<script>

    let subMenu = document.getElementById("profile-nav");

    function toggleMenu() {
        subMenu.classList.toggle("open-menu");
    }

</script>
</html>