<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
    <link rel="stylesheet" href="{% static 'css/passwordreset.css' %}">
    <script src="{% static 'js/reset_password.js' %}"></script>

</head>
<body>
<div class="imagem-logotipo">
    <img src="{% static 'img/ipdj_image.png' %}" alt="logotipo" class="logoIPDJ">
</div>

<div class="popupError">
    {% if messages %}
    {% for message in messages %}
        {% if message.tags == "error" %}
            <div class="error-popup">
                {{ message }}
                <button type="button" class="close-button-error" onclick="remover_error()">x</button>
            </div>
        {% endif %}
        {% if message.tags == "success" %}
            <div class="success-popup">
                {{ message }}
                <button type="button" class="close-button-success" onclick="remover_success()">x</button>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
</div>

<div class="loginform">
    <form method="post">
        <h1>Recuperar password</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submmit">
        <p class="info">Voltar ao <a href="/login"><span>login</span></a></p>
    </form>
</div>
</body>
</html>