<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
    <link rel="stylesheet" href="{% static 'css/passwordreset.css' %}">

</head>
<body>
<div class="imagem-logotipo">
    <img src="{% static 'img/ipdj_image.png' %}" alt="logotipo" class="logoIPDJ">
</div>
<div class="loginform">
    <form method="post">
        <h2>Recuperar password</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>