<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">

    <script src="{% static 'js/signup.js' %}"></script>
</head>
<body>

<div class="elementsNextEachOther">

    <div class="imagem-logotipo">
        <img src="{% static 'img/ipdj_image.png' %}" alt="logotipo" class="logoIPDJ">
    </div>
    <div id="error-container">

    </div>
</div>

<div class="loginform">
    <form method="post">
        {% csrf_token %}
        <h1>Registe-se</h1>
        {{ formUser.as_p }}
        {{ formUtilizador.as_p }}
        <input type="submit" value="Registar">
        <p class="info">Já têm conta? <a href="/login"><span>Faça login</span></a></p>
    </form>
</div>
</body>
</html>