<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
<div class="imagem-logotipo">
    <img src="{% static 'img/ipdj_image.png' %}" alt="logotipo" class="logoIPDJ">
</div>
<div class="loginform">
    <form method="post">
        {% csrf_token %}
        {{ formUser.as_p }}
        {{ formUtilizador.as_p }}
        <input type="submit" value="Submit">
        <p>Já têm conta? <a href="/login"><span>Login</span></a></p>
    </form>
</div>
</body>
</html>