{% extends 'navigator.html' %}
{% load static %}

{% block titulo %}
    <h1>Submissão</h1>
{% endblock %}


{% block content %}

    <link rel="stylesheet" href="{% static 'css/submmit.css' %}">
    <script src="{% static 'js/submmit.js' %}"></script>

    <div class="container">
        {% for tema, subtemas in perguntas_respostas_submmit.items %}

            {% with forloop.counter as tema_counter %}
                <div class="tema">
                    <div class="titulo" onclick="toggle(this)" id="{{ tema.id }}">
                        <span>{{ tema_counter }}. {{ tema.nome }} </span>
                        <button id="botao_editar:{{ resposta.id }}"
                                onclick="editar ('{{ csrf_token }}', '{{ tema.id }}')"
                                class="botao_submmit">✏️
                        </button>
                        <span style="float:right" id="sinal">+</span>
                    </div>
                    <div class="bloco">
                        {% csrf_token %}

                        {% for subtema, perguntas in subtemas.items %}
                            {% with forloop.counter as subtema_counter %}
                                <div id={{ tema_counter }}:{{ subtema.nome|slugify }} class="bloco_subtema">
                                    <h3 id="{{ subtema.nome|slugify }}">{{ tema_counter }}.{{ subtema_counter }} {{ subtema.nome }}
                                    </h3>
                                    <table>
                                        {% for pergunta, respostas in perguntas.items %}
                                            <tr id="{{ tema_counter }}.{{ subtema_counter }}:{{ pergunta.texto|slugify }}"
                                                class="items">
                                                <td id="pergunta">

                                                    {{ pergunta.texto }}:
                                                </td>
                                                <td id="resposta">
                                                    <div id="boxResposta">
                                                        <div>
                                                            {% if respostas %}
                                                                {% for resposta in respostas %}

                                                                    <div id="resposta_dada">
                                                                        <input type="hidden"
                                                                               value="{{ resposta.id }}"
                                                                               id="respostaId">
                                                                        <span class="respostaValue">{{ resposta }}</span>
                                                                        {% if respostas %}
                                                                            {% if pergunta.unidade %}
                                                                                {{ pergunta.unidade }}

                                                                            {% endif %}
                                                                        {% endif %}
                                                                    </div>
                                                                {% endfor %}
                                                            {% else %}
                                                                <div id="resposta_dada">
                                                                    Não respondeu
                                                                </div>
                                                            {% endif %}

                                                        </div>

                                                    </div>
                                                    <div id='{{ pergunta.texto|slugify }}'></div>

                                                </td>
                                                <td>

                                                </td>
                                            </tr>
                                        {% endfor %}


                                    </table>
                                </div>

                            {% endwith %}
                        {% endfor %}

                    </div>

                </div>

            {% endwith %}

        {% endfor %}
        <button name="submitButton" id="ButaoSubmeter">Subtemer</button>
    </div>

{% endblock %}